<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
</head>
<body>

<div class="container">
  <div class="py-5 text-center">
    <h2>Checkout form</h2>
    <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
  </div>

  <div class="row">
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">User Information</h4>

      <form class="needs-validation" role="form" action="/members/new" th:object="${memberForm}" method="post">
        <div class="mb-3">
          <label th:for="name">Name</label>
          <input type="text" th:field="*{name}" class="form-control" placeholder="Write your name." value="" required>
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>

        <div class="mb-3">
          <label th:for="email">Id</label>
          <div class="input-group">
            <input type="email" th:field="*{email}" class="form-control input-email" placeholder="you@uos.ac.kr">
            <button class="btn btn-primary check-button" type="button" disabled>Send</button>
          </div>
          <span class="check-mail-re"></span>
        </div>

        <div class="mb-3">
          <label th:for="password">Password</label>
          <input type="text" th:field="*{password}" class="form-control" placeholder="1~0/a~z/A~Z, 8~20 words" required>
          <span class="check-password-re"></span>
        </div>

        <div class="mb-3">
          <label th:for="repeatPassword">Re-enter Password </label>
          <input type="text" th:field="*{repeatPassword}" class="form-control" placeholder="">
          <span class="check-repeat-re"></span>
        </div>

        <div class="mb-3">
          <label th:for="phoneNumber">Phone Number <span class="text-muted">(Optional)</span></label>
          <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="010-0000-0000">
        </div>

        <hr class="mb-4">

        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to sign up</button>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-{{ site.time | date: "%Y" }} Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>

<script>
  let code = "";
  let idCheck = false;
  let codeCheck = false;
  let passwordCheck = false;

  $('.input-email').on("propertychange change keyup paste input", function (){
    let email = $('.input-email').val();
    let data = {email : email};

    $.ajax({
      type : "post",
      url : "/members/emailCheck",
      data : data,
      success : function (result){
        if (result == "success") {
          $('.check-mail-re').text("사용 가능한 아이디 입니다.");
          $('.check-mail-re').css("color", "green");
          idCheck = true;
        } else {
          $('.check-mail-re').text("중복된 아이디 입니다.");
          $('.check-mail-re').css("color", "red");
        }
      }
    });
  });
</script>

</body>

</html>
