<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />
<body>

<div class="container">
  <div class="py-5 text-center">
    <h2>Checkout form</h2>
    <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
  </div>

  <div class="row">
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">User Information</h4>

      <form class="needs-validation" role="form" action="/members/new" th:object="${memberForm}" method="post">
        <div class="mb-3">
          <label th:for="name">Name</label>
          <input type="text" th:field="*{name}" class="form-control" placeholder="Write your name." value="" required>
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>

        <div class="mb-3">
          <label th:for="loginId">Id</label>
          <input type="text" th:field="*{loginId}" class="form-control" placeholder="Write your Id." value="" required>
          <div class="invalid-feedback">
            Id is required.
          </div>
        </div>

        <div class="mb-3">
          <label th:for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" th:field="*{email}" class="form-control" placeholder="you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="mb-3">
          <label th:for="password">Password</label>
          <input type="text" th:field="*{password}" class="form-control" placeholder="1~0/a~z/A~Z, 8~20 words" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label th:for="repeatPassword">Re-enter Password </label>
          <input type="text" th:field="*{repeatPassword}" class="form-control" placeholder="">
        </div>

        <div class="mb-3">
          <label th:for="phoneNumber">Phone Number <span class="text-muted">(Optional)</span></label>
          <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="010-0000-0000">
        </div>

        <hr class="mb-4">

        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to sign up</button>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-{{ site.time | date: "%Y" }} Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
</body>

</html>
