spring:
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
  data:
    mongodb:
      uri: mongodb+srv://hynam:gudtlr731@hynam.xjpol.mongodb.net/mydb?retryWrites=true&w=majority
  mail:
    host: smtp.gmail.com
    port: 587
    username: "skagudtlr731@gmail.com"
    password: "pesbkxtsilktqwoo"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
        debug: true

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
logging.level:
  org.hibernate.SQL: debug
    #  org.hibernate.type: trace

server:
  servlet:
    session:
      tracking-modes: cookie
      timeout: 30m
