<!DOCTYPE HTML>
<html class="html-signIn" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />
<body class="body-signIn">

<div class="container">
    <form class="form-signIn" action="/" role="form" th:object="${loginForm}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div>
            <label for="loginId" class="sr-only">Email address</label>
            <input type="text" id="loginId" th:field="*{loginId}" class="form-control" placeholder="Email address"
                   th:errorclass="field-error" autofocus>
            <div class="field-error" th:errors="*{loginId}" />
        </div>
        <div>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Password"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}" />
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a class="btn btn-lg btn-primary btn-block" href="/members/new">Sign up</a>
    </form>

</div>

</body>

</html>