<!DOCTYPE HTML>
<html class="html-signIn" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"></head>

<body class="body-signIn bg-dark text-white">
  <div class="container">
    <form class="form-signIn" name="login" action="/" role="form" th:object="${loginForm}" method="post">
      <h1 class="h3 mb-3 font-weight-normal">WALL-I</h1>
      <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
      </div>

      <div class="login-input">
<!--        <label for="loginId" class="sr-only">Email address</label>-->
        <input type="text" id="loginId" th:field="*{email}" class="form-control" placeholder="Email address"
               th:errorclass="field-error" autofocus>
        <div class="field-error" th:errors="*{email}"></div>
      </div>
      <div class="login-input">
        <!--        <label for="loginId" class="sr-only">Email address</label>-->
        <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Password"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{password}"></div>
      </div>
      <input id="redirectURL" th:field="*{redirectURL}" class="visually-hidden"/>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" onkeyup="pressEnter(event)" type="submit">Sign in</button>
      <a class="btn btn-lg btn-primary btn-block" href="/members/new">Sign up</a>
    </form>
  </div>
</body>
<script type="text/javascript">
    function pressEnter(e) {
        if (e.keyCode === 13) {
            document.login.submit();
        }
    }

    document.getElementById("redirectURL").value = document.location.search;

</script>

</html>